body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: blue;
    text-align: right;
}

.header img {
    display: inline-block;
}

h1 {
    margin: 20px;
    font-size: 40px;
}

h2 {
    margin: 20px;
    font-size: 25px;
}

h3 {
    margin: 20px;
}

p {
    margin: 20px;
    font-size: 14px;
}

table {
    width: calc(100% - 40px);
    margin: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

a {
    display: inline-block;
    margin: 0 20px 20px;
}